<mat-toolbar color="primary">
  <div class="inline-flex gap-4">
    <span
      class="main-toolbar-panel-button-tab"
      routerLink=""
      routerLinkActive="active-link"
    >ETL process</span>
<!--    <span-->
<!--      class="main-toolbar-panel-button-tab"-->
<!--      routerLink="/tables"-->
<!--      routerLinkActive="active-link"-->
<!--    >Tables</span>-->
    <span
      class="main-toolbar-panel-button-tab"
      routerLink="/reports"
      routerLinkActive="active-link"
    >Raporty</span>
  </div>

<!--  <span class="example-spacer"></span>-->

<!--  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">-->
<!--    <mat-icon>favorite</mat-icon>-->
<!--  </button>-->
<!--  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">-->
<!--    <mat-icon>share</mat-icon>-->
<!--  </button>-->
</mat-toolbar>
