.example-spacer {
  flex: 1 1 auto;
}


.active-link {
  background: rgba(0,0,0,.2);
}

.main-toolbar-panel-button-tab {
  cursor: pointer;
  font-size: 14px;
  padding: 0.2rem 0.8rem;
  border-radius: 0.3rem;
}

.main-toolbar-panel-button-tab:hover {
  background: rgba(0,0,0,.4);

}
