<form [formGroup]="form" class="grid w-96">
  <mat-form-field
    class="example-form-field"
    appearance="outline"
  >
    <mat-label>Google Maps API Key</mat-label>
    <input
      matInput
      type="text"
      [formControlName]=formConfig.googleMapsAPIKey
    >
  </mat-form-field>

  <mat-form-field
    class="example-form-field"
    appearance="outline"
  >
    <mat-label>Number of pages</mat-label>
    <input
      matInput
      type="number"
      [formControlName]="formConfig.pagesNumber"
    >
  </mat-form-field>

  <mat-form-field
    class="example-form-field"
    appearance="outline"
  >
    <mat-label>Driving accessibility radius [m]</mat-label>
    <input
      matInput
      type="number"
      [formControlName]="formConfig.drivingAccessibilityRadius"
    >
  </mat-form-field>

  <mat-form-field
    class="example-form-field"
    appearance="outline"
  >
    <mat-label>Public transport accessibility radius [m]</mat-label>
    <input
      matInput
      type="number"
      [formControlName]="formConfig.publicTransportAccessibilityRadius"
    >
  </mat-form-field>

  <button  mat-raised-button color="primary" (click)="startProcess()">Uruchom proces</button>
</form>

<button mat-raised-button color="primary" (click)="getPlaceDetails()">GET PLACE DETAILS</button>
