<form [formGroup]="form" class="grid w-96">
  <mat-form-field
    class="example-form-field"
    appearance="outline"
  >
    <mat-label>Google Maps API Key</mat-label>
    <input
      matInput
      type="text"
      [formControlName]=formConfig.googleMapsAPIKey
    >
  </mat-form-field>

  <mat-form-field
    class="example-form-field"
    appearance="outline"
  >
    <mat-label>Number of pages</mat-label>
    <input
      matInput
      type="number"
      [formControlName]="formConfig.pagesNumber"
    >
  </mat-form-field>

  <mat-form-field
    class="example-form-field"
    appearance="outline"
  >
    <mat-label>Driving accessibility radius [m]</mat-label>
    <input
      matInput
      type="number"
      [formControlName]="formConfig.drivingAccessibilityRadius"
    >
  </mat-form-field>

  <mat-form-field
    class="example-form-field"
    appearance="outline"
  >
    <mat-label>Public transport accessibility radius [m]</mat-label>
    <input
      matInput
      type="number"
      [formControlName]="formConfig.publicTransportAccessibilityRadius"
    >
  </mat-form-field>

  <button
    [disabled]="true"
    *ngIf="!processRunning; else processRunningBtn"
    mat-raised-button color="primary"
    (click)="startProcess()"
  >
    Uruchom proces
  </button>
  <ng-template #processRunningBtn>
    <button  mat-stroked-button disabled>
      <div class="inline-flex gap-4 align-middle items-center">
        <div>
          ETL process running
        </div>
        <mat-spinner [diameter]="20"></mat-spinner>
      </div>
    </button>
  </ng-template>
</form>








